.signup-section {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;

}


.signup-body {
    min-height: 640px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin: 0;
    padding: 0;
}

.signup-title {
    font-size: 50px;
    font-weight: 600;
    color: #1a1a1a;
    margin: 0;
}

.signup-subtitle {
    font-size: 27px;
    font-weight: 400;
    color: #666666;
    margin: 0;
}

.email-section {
    display: flex;
    gap: 20px;
}

.triangle-container {
    position: absolute;
    right: -180px;
    top: 50%;
    transform: translateY(-50%);
    perspective: 1500px;
    perspective-origin: center center;
    z-index: 1;
}

.triangle-svg {
    width: 178px;
    height: 645px;
    transform-origin: left center;
    transform: rotateY(90deg);
    transition: transform 1.5s ease-in-out;
    backface-visibility: visible;
}

.triangle-svg.visible {
    transform: rotateY(180deg);
}