/* .hero-body {
    background-color: #1e1e1e;
} */

.hero-title {
    font-size: 2.5rem;
    font: bolder;
    font-family: Rubik, Bold;
    color: black;
}

.hero-button-nav {
    font-family: Poppins;
    padding: 10px 20px;
    font-weight: 100;
    font-size: 1rem;
    color: white;
    background: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    opacity: 1;
    cursor: pointer;
}

.hero-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.task-title {
    padding: 0;
    margin: 0;
    font: normal normal bold 75px/97px Rubik;
    letter-spacing: -0.53px;
    color: #1E1C24;
    opacity: 1;
}

.task-subtitle {
    margin: 0;
    padding: 0;
    font: normal normal normal 20px/35px Poppins;
    color: #B1AAAA;
    opacity: 1;
    text-align: left;
    width: 616px;
    height: 116px;
}

.hero-input {
    width: 397px;
    height: 77px;
    border: 2px solid #EBEBEB;
    border-radius: 100px;
    opacity: 1;
    padding-left: 40px;
}

.hero-input {
    text-align: left;
    font: normal normal normal 20px/91px Poppins;
    letter-spacing: 1px;
    color: #1E1C24D9;
    opacity: 0.36;
}

.hero-button-body {
    background: #0634FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 50px #0634FF57;
    border-radius: 100px;
    border: 0px;
    opacity: 1;
    width: 200px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;

    font: normal normal normal 20px/91px Poppins;
    color: #FFFFFF;
    padding: 0px 40px 0px 40px;
}

.email-section{
    display: flex;
    flex-direction: row;
    align-items: center;;

}